$semanticColors: kn-positive kn-negative;

:root {
  --kn-white: #F6F6F6;
  --kn-black: #1f1f1f;

  --kn-gray: #bababa;
  --kn-gray--light: #F6F6F6;
  --kn-gray--dark: #828282;

  --kn-mint: #4ECDC4;
  --kn-mint--light: #66FFCC;
  --kn-mint--dark: #368F89;

  --kn-blue: #66C3F4;
  --kn-blue--light: #ade3ff;
  --kn-blue--dark: #4788AA;

  --kn-orange: #FFA64D;
  --kn-orange--light: #ffd4a8;
  --kn-orange--dark: #E59545;

  @include standardTransition(background-color, color);
  background-color: var(--kn-background);
  color: var(--kn-foreground);

  &, .kn-theme--light {
    --kn-background: var(--kn-white);
    --kn-background--aux: var(--kn-gray);

    --kn-foreground: var(--kn-black);
    --kn-foreground--aux: var(--kn-gray);

    --kn-main: var(--kn-mint--dark);
    --kn-main--aux: var(--kn-mint);

    --kn-alpha: var(--kn-blue--dark);
    --kn-alpha--aux: var(--kn-blue);

    --kn-default: var(--kn-gray--dark);
    --kn-default--aux: var(--kn-gray);

    --kn-disabled: var(--kn-gray);
    --kn-disabled--aux: var(--kn-gray--light);

    --kn-positive: var(--kn-blue--dark);
    --kn-positive--aux: var(--kn-blue);

    --kn-negative: var(--kn-orange--dark);
    --kn-negative--aux: var(--kn-orange);
  }

  &[dark], .kn-theme--dark {
    --kn-background: var(--kn-black);
    --kn-background--aux: var(--kn-gray--dark);

    --kn-foreground: var(--kn-white);
    --kn-foreground--aux: var(--kn-gray);

    --kn-main: var(--kn-mint);
    --kn-main--aux: var(--kn-mint--light);

    --kn-alpha: var(--kn-blue);
    --kn-alpha--aux: var(--kn-blue--light);

    --kn-default: var(--kn-gray--light);
    --kn-default--aux: var(--kn-white);

    --kn-disabled: var(--kn-gray--dark);
    --kn-disabled--aux: var(--kn-white);

    --kn-positive: var(--kn-blue);
    --kn-positive--aux: var(--kn-blue--light);

    --kn-negative: var(--kn-orange);
    --kn-negative--aux: var(--kn-orange--light);
  }
}
