@import 'mixins/_transitions.scss';
@import '_colors.scss';

.kn-input {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;

  &__label {
    @include quickTransition(background-color, color);
    color: var(--kn-foreground);
    cursor: pointer;
    margin-bottom: 0.25em;
    user-select: none;
  }

  &__control {
    @include quickTransition(border-color, color);
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--kn-default);
    box-sizing: border-box;
    color: var(--kn-default);
    padding: 4px 6px;
    width: 100%;

    &:focus {
      outline: none;
    }

    & > option {
      background-color: var(--kn-background);
      color: var(--kn-foreground);
    }
  }

  &__control:disabled {
    border-color: var(--kn-disabled);
  }

  &__control:disabled + &__label {
    background-color: var(--kn-disabled);
    color: var(--kn-background);
    font-style: italic;
    pointer-events: none;
  }

  @each $variation in $semanticColors {
    &.#{$variation} &__control:not(:disabled) {
      border-color: var(--#{$variation});
    }
  }
}
