.kn-navbar {
  &__link-list {
    display: flex;
    flex-direction: row;
  }

  &__link:not(:first-child) {
    margin-left: 1em;
  }

  &__link > .kn-anchor {
    border-bottom: 2px solid transparent;
    color: var(--kn-foreground);
    font-size: 1.2em;
    padding-bottom: 2px;
    text-decoration: none;
  }

  &__link > .kn-anchor.router-link-exact-active {
    border-bottom: 2px solid var(--kn-alpha);
  }
}

.kn-anchor {
  color: var(--kn-alpha);

  &:active,
  &:focus {
    outline: none;
  }
}
