$breakpoints: (
  xsmall: 0px,
  small: 640px,
  medium: 1024px,
  large: 1200px,
  xlarge: 1440px,
);

// TODO: Replace with an established system, no need to reinvent the wheel again for this
.kn-only {
  &--xsmall {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'xsmall')) and (max-width: map-get($breakpoints, 'small')) {
      display: block;
    }
  }

  &--small {
    @media screen and (min-width: map-get($breakpoints, 'small')) and (max-width: map-get($breakpoints, 'medium')) {
      display: none;
    }
  }

  &--medium {
    @media screen and (min-width: map-get($breakpoints, 'medium')) and (max-width: map-get($breakpoints, 'large')) {
      display: none;
    }
  }

  &--large {
    @media screen and (min-width: map-get($breakpoints, 'large')) and (max-width: map-get($breakpoints, 'xlarge')) {
      display: none;
    }
  }

  &--xlarge {
    @media screen and (min-width: map-get($breakpoints, 'xlarge')) {
      display: none;
    }
  }
}

// TODO: Replace with an established system, no need to reinvent the wheel again for this
.kn-at-least {
  &--xsmall {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'xsmall')) {
      display: block;
    }
  }

  &--small {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'small')) {
      display: block;
    }
  }

  &--medium {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'medium')) {
      display: block;
    }
  }

  &--large {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'large')) {
      display: block;
    }
  }

  &--xlarge {
    display: none;
    @media screen and (min-width: map-get($breakpoints, 'xlarge')) {
      display: block;
    }
  }
}
