.kn-selection-item {
  color: var(--kn-default);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  user-select: none;

  @each $variation in $semanticColors {
    &.#{$variation} {
      color: var(--#{$variation});
    }

    &.#{$variation} &__control:not(:disabled) {
      border-color: var(--#{$variation});
    }

    &.#{$variation} &__control:not(:disabled):checked {
      background-color: var(--#{$variation});
    }
  }

  &__label {
    @include standardTransition(color, border-color);
    white-space: nowrap;
  }

  &__control:not(:disabled),
  &__control:not(:disabled) + &__label {
    cursor: pointer;
  }

  &__control:disabled,
  &__control:disabled + &__label {
    pointer-events: none;
  }

  &__control:disabled + &__label {
    color: var(--kn-disabled);
    font-style: italic;
  }

  &__control:active:not(:disabled) + &__label,
  &__control:focus:not(:disabled) + &__label {
    text-decoration: underline;
  }

  &__control {
    --control-height: 16px;
    --control-width: 16px;
    --border-width: 1px;
    @include quickTransition(background-color);
    appearance: none;
    border-radius: 2px;
    border: var(--border-width) solid var(--kn-default);
    cursor: pointer;
    height: var(--control-height);
    margin: 0 0 0 0.5em;
    outline: none;
    width: var(--control-width);

    &[type=radio] {
      border-radius: 100%;
    }

    &:disabled {
      @include standardTransition(color, border-color);
      color: var(--kn-disabled);
      border-color: var(--kn-disabled);
    }

    &:checked {
      background-color: var(--kn-default);
    }

    &:disabled:checked {
      background-color: var(--kn-disabled);
    }
  }
}
