:root[font-size='xsmall'],
.kn-xsmall {
  font-size: 12px;
}

:root[font-size='small'],
.kn-small {
  font-size: 14px;
}

:root[font-size='medium'],
.kn-medium {
  font-size: 16px;
}

:root[font-size='large'],
.kn-large {
  font-size: 18px;
}

:root[font-size='xlarge'],
.kn-xlarge {
  font-size: 20px;
}
