.kn-btn {
  @include shiftText--neutral(140ms);
  border-radius: 3px;
  background-color: var(--kn-foreground);
  color: var(--kn-background);
  padding: 0.5em 1em;

  // TODO: Better way to handle this? Have to include font-style and settings again
  transition-property: background-color, font-style, font-variation-settings;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @each $variation in $semanticColors {
    &.#{$variation} {
      background-color: var(--#{$variation});
    }

    &.#{$variation}:active {
      background-color: var(--#{$variation}-light);
    }
  }

  &:disabled {
    background-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);
    pointer-events: none;
    @include shiftText--active(14deg, 14);
  }
}

.kn-btn.kn-ghost {
  background-color: transparent;
  border-style: outset;
  border-style: solid;
  border-width: 3px;
  color: var(--kn-foreground);
  transition-property: border-color, font-style, font-variation-settings;

  @each $variation in $semanticColors {
    &.#{$variation} {
      border-color: var(--#{$variation});
      color: var(--#{$variation});

      // TODO: Override, here for specificity
      background-color: transparent;
    }

    &.#{$variation}:active {
      border-color: var(--#{$variation}-dark);
    }
  }

  &:disabled {
    border-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);

    &:active {
      border-color: var(--kn-disabled-dark);
    }
  }
}
