.kn-btn {
  border-radius: 3px;
  color: var(--kn-background);
  padding: 0.5em 1em;
  @include shiftText--neutral(140ms);
  // TODO: Better way to handle this?
  transition-property: background-color, font-style, font-variation-settings;


  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @mixin semanticVariation($main, $accent) {
    background-color: $main;

    &:active {
      background-color: $accent;
    }
  }

  &.kn-primary {
    @include semanticVariation(var(--kn-primary), var(--kn-primary-light));
  }

  &.kn-secondary {
    @include semanticVariation(var(--kn-secondary), var(--kn-secondary-light));
  }

  &.kn-neutral {
    @include semanticVariation(var(--kn-neutral), var(--kn-neutral-light));
  }

  &.kn-success {
    @include semanticVariation(var(--kn-success), var(--kn-success-light));
  }

  &.kn-warning {
    @include semanticVariation(var(--kn-warning), var(--kn-warning-light));
  }

  &.kn-danger {
    @include semanticVariation(var(--kn-danger), var(--kn-danger-light));
  }

  &:disabled {
    background-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);
    pointer-events: none;
    @include shiftText--active(14deg, 14);
  }
}

.kn-btn.kn-ghost {
  border-style: outset;
  border-style: solid;
  border-width: 3px;
  transition-property: border-color, font-style, font-variation-settings;

  @mixin semanticVariation($main, $accent) {
    border-color: $main;
    color: $main;

    // TODO: Override, here for specificity
    background-color: transparent;

    &:active {
      border-color: $accent;
    }
  }

  &.kn-primary {
    @include semanticVariation(var(--kn-primary), var(--kn-primary-dark));
  }

  &.kn-secondary {
    @include semanticVariation(var(--kn-secondary), var(--kn-secondary-dark));
  }

  &.kn-neutral {
    @include semanticVariation(var(--kn-neutral), var(--kn-neutral-dark));
  }

  &.kn-success {
    @include semanticVariation(var(--kn-success), var(--kn-success-dark));
  }

  &.kn-warning {
    @include semanticVariation(var(--kn-warning), var(--kn-warning-dark));
  }

  &.kn-danger {
    @include semanticVariation(var(--kn-danger), var(--kn-danger-dark));
  }

  &:disabled {
    border-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);

    &:active {
      border-color: var(--kn-disabled-dark);
    }
  }
}
