.kn-btn {
  @include quickTransition(background-color);
  background-color: var(--kn-foreground);
  border-radius: 3px;
  color: var(--kn-background);
  padding: 0.5em 1em;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @each $variation in $semanticColors {
    &.#{$variation} {
      background-color: var(--#{$variation});
    }

    &.#{$variation}:active {
      background-color: var(--#{$variation}-light);
    }
  }

  &:disabled {
    background-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);
    pointer-events: none;
  }
}

.kn-btn.kn-ghost {
  @include quickTransition(border-color);
  background-color: transparent;
  border-style: solid;
  color: var(--kn-foreground);

  @each $variation in $semanticColors {
    &.#{$variation} {
      background-color: transparent;
      border-color: var(--#{$variation});
      color: var(--#{$variation});
    }

    &.#{$variation}:active {
      border-color: var(--#{$variation}-dark);
    }
  }

  &:disabled {
    border-color: var(--kn-disabled-dark);
    color: var(--kn-disabled-light);

    &:active {
      border-color: var(--kn-disabled-dark);
    }
  }
}
