.kn-selection-item {
  --control-size: 0.8em;
  --label-border-size: 1px;
  --label-border-spacing: 0.25em;
  align-items: center;
  display: flex;
  position: relative;
  user-select: none;

  @each $variation in $semanticColors {
    &.#{$variation} {
      color: var(--#{$variation});
    }
  }

  &__label {
    @include standardTransition(color, border-color);
    border-bottom: var(--label-border-size) solid currentColor;
    cursor: pointer;
    padding-bottom: var(--label-border-spacing);
    padding-left: calc(var(--control-size) + 0.5em);
  }

  &__control:active:not(:disabled) + &__label,
  &__control:focus:not(:disabled) + &__label {
    border-bottom-style: dashed;
  }

  &__control:disabled,
  &__control:disabled + &__label {
    color: var(--kn-disabled);
    pointer-events: none;
  }

  &__control:disabled + &__label {
    text-decoration: none;
  }

  &__control {
    @include standardTransition(background-color, color, border-color);
    @include standardBorder(currentColor);
    cursor: pointer;
    height: var(--control-size);
    left: 0;
    margin: 0 0 calc(var(--label-border-size) + var(--label-border-spacing)) 0;
    outline: none;
    position: absolute;
    width: var(--control-size);

    &:checked {
      background-color: currentColor;
    }

    &:disabled {
      color: var(--kn-disabled);
      border-color: var(--kn-disabled);
    }
  }

  &.kn-radio &__control {
    border-radius: 100%;
  }
}
