.kn-selection-item {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  user-select: none;

  @each $variation in $semanticColors {
    &.#{$variation} {
      color: var(--#{$variation});
    }
  }

  &__label {
    cursor: pointer;
    margin-right: 0.25em;
  }

  &__control:active + &__label,
  &__control:focus + &__label {
    text-decoration: underline;
  }

  &__control:disabled,
  &__control:disabled + &__label {
    color: var(--kn-disabled);
    pointer-events: none;
  }

  &__control:disabled + &__label {
    text-decoration: none;
  }

  &__control {
    border-radius: 3px;
    border: 2px solid currentColor;
    color: inherit;
    cursor: pointer;
    outline: none;
    padding: 0.4em;
    transition-duration: 140ms;
    transition-property: background-color, color, border-color;
    transition-timing-function: ease-in-out;

    &:checked {
      background-color: currentColor;
    }

    &:disabled {
      border-color: var(--kn-disabled-dark);
    }
  }

  &.kn-radio &__control {
    border-radius: 100%;
  }
}
