$semanticColors: kn-positive kn-neutral kn-negative;

:root {
  --kn-white: #F6F6F6;
  --kn-black: #090909;

  --kn-gray: #bababa;
  --kn-gray--light: #F6F6F6;
  --kn-gray--dark: #828282;

  --kn-mint: #4ECDC4;
  --kn-mint--light: #66FFCC;
  --kn-mint--dark: #368F89;

  --kn-blue: #66C3F4;
  --kn-blue--light: #ade3ff;
  --kn-blue--dark: #4788AA;

  --kn-purple: #D0AEE0;
  --kn-purple--light: #d8d1ff;
  --kn-purple--dark: #56296B;

  --kn-orange: #FFA64D;
  --kn-orange--light: #ffd4a8;
  --kn-orange--dark: #5C2E00;

  // Light theme; default
  --kn-background: var(--kn-white);
  --kn-background--aux: var(--kn-gray);

  --kn-foreground: var(--kn-black);
  --kn-foreground--aux: var(--kn-gray--dark);

  --kn-main: var(--kn-mint--dark);
  --kn-main--aux: var(--kn-mint);

  --kn-alpha: var(--kn-blue--dark);
  --kn-alpha--aux: var(--kn-blue);

  --kn-beta: var(--kn-purple--dark);
  --kn-beta--aux: var(--kn-purple);

  --kn-positive: var(--kn-blue--dark);
  --kn-positive--aux: var(--kn-blue);

  --kn-neutral: var(--kn-gray--dark);
  --kn-neutral--aux: var(--kn-gray);

  --kn-negative: var(--kn-orange--dark);
  --kn-negative--aux: var(--kn-orange);

  &[dark] {
    --kn-background: var(--kn-black);
    --kn-background--aux: var(--kn-gray--dark);

    --kn-foreground: var(--kn-white);
    --kn-foreground--aux: var(--kn-gray);

    --kn-main: var(--kn-mint);
    --kn-main--aux: var(--kn-mint);

    --kn-alpha: var(--kn-blue);
    --kn-alpha--aux: var(--kn-blue);

    --kn-beta: var(--kn-purple);
    --kn-beta--aux: var(--kn-purple);

    --kn-positive: var(--kn-blue);
    --kn-positive--aux: var(--kn-blue);

    --kn-neutral: var(--kn-gray);
    --kn-neutral--aux: var(--kn-gray);

    --kn-negative: var(--kn-orange);
    --kn-negative--aux: var(--kn-orange);
  }

  @include standardTransition(background-color, color);
  background-color: var(--kn-background);
  color: var(--kn-foreground);
}
