.kn-input {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @each $variation in $semanticColors {
    &.#{$variation} &__label {
      background-color: var(--#{$variation});
    }

    &.#{$variation} &__control:not(:disabled) {
      color: var(--#{$variation});

      &::selection {
        color: var(--#{$variation}-dark);
        background-color: var(--#{$variation}-light);
      }
    }
  }

  &__label {
    @include shiftText--neutral(140ms);
    background-color: var(--kn-foreground);
    color: var(--kn-background);
    cursor: pointer;
    font-weight: bold;
    padding: 0.25em 0.5em 0 0.5em;
    user-select: none;
  }

  &__control:disabled + &__label {
    @include shiftText--active(14deg, 14);
    background-color: var(--kn-disabled);
    pointer-events: none;
  }

  &__control {
    background-color: transparent;
    border-bottom: 2px solid currentColor;
    border-left: none;
    border-right: none;
    border-top: none;
    color: currentColor;
    padding: 0.25em 0.5em;

    &::placeholder {
      color: currentColor;
    }
  }

  &__control:disabled {
    border-color: var(--kn-disabled);
    color: var(--kn-disabled);
    pointer-events: none;

    &::placeholder {
      color: var(--kn-disabled);
    }
  }
}
