h1 {
  font-size: 2.2em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

strong {
  font-weight: bold;
  text-decoration: underline;
}

em {
  font-style: italic;
}

b {
  font-weight: bold;
}

code {
  color: var(--kn-accent-light);
  line-height: 1.5em;
}

code::selection {
  background-color: var(--kn-accent);
  color: var(--kn-background);
}

pre {
  border: 1px solid var(--kn-foreground-dark);
  border-radius: 3px;
  padding: 0.5em 1em;
}

figure {
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--kn-foreground-dark);
  display: inline-flex;
  flex-direction: column;
  padding: 0.5em 1em;

  & > figcaption:first-child {
    margin-bottom: 0.5em;
  }

  & > figcaption:not(:first-child) {
    margin-top: 0.5em;
  }
}

hr {
  border: 1px solid var(--kn-foreground-dark);
  margin: 0.5em 0;
}

fieldset {
  border: 1px solid var(--kn-accent-dark);
  border-radius: 3px;
  padding: 0.5em 1em;

  & > legend {
    color: var(--kn-foreground);
    padding: 0 0.75em;
  }
}
